#ws-connection-connected,
#ws-connection-disconnected {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

body {
    background: #171717 url(/static/img/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    color: #fff;
    overflow-y: hidden;
}

.preloader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: black;
    display: none;
    z-index: 99999;
}

.page-wrapper {
    position: relative;
    min-height: 100%;
    height: auto;
}

.content-wrapper {
    display: block;
    padding: 10px;
    min-width: 320px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    z-index: 2;
    overflow-y: auto;
    vertical-align: middle;
}

.bg {
    transform: scale(1);
    background: #171717 url(/static/img/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-animation: singin_bg 10s linear forwards;
    -moz-animation: singin_bg 10s linear forwards;
    animation: singin_bg 10s linear forwards;
}

#main-container {
    font-size: 0;
    display: inline-block;
    width: 1264px;
    height: 832px;
    margin-top: 6%;
    padding: 0;
    border-radius: 5%;
    position: relative;
    z-index: 3;
    background: -webkit-linear-gradient(bottom left,rgba(229,0,0,.42) 0,rgba(229,0,0,.42) 35%,rgba(99,0,0,.42) 100%);
    background: -o-linear-gradient(bottom left,rgba(229,0,0,.42) 0,rgba(229,0,0,.42) 35%,rgba(99,0,0,.42) 100%);
    background: linear-gradient(to top right,rgba(229,0,0,.42) 0,rgba(229,0,0,.42) 35%,rgba(99,0,0,.42) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6be50000',endColorstr='#6b630000',GradientType=1);
}

#container #content {
    position: absolute;
    top: 20%;
}

#countdown {
    position: absolute;
    margin: auto;
    height: 40px;
    width: 40px;
    text-align: center;
    top: -100px;
    right: 50px;
}

#countdown-number {
    color: white;
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
    /*animation: countdown 10s linear infinite forwards;*/
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}

.logo img {
    height: 200px;
    margin-top: -20px;
}