<#import "macros/layout.ftl" as layout>
<@layout.header />

    <div class="col-lg-12" id="content">
        <h1>Добро пожаловать на квиз экстил... Соблюдайте правила и веселитесь!!</h1>
    </div>

<@layout.footer />